<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"/>
    <title>Document</title>
</head>
<body>
    <a href="/filmes">VOLTAR</a>
    <section class="wrapper">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
        <div id="title"></div>
    
<section id="detalhes1">
        <ul>
            <div>
            <img src= "<%= filme.imagem %>" alt= "<%= filme.nome %>" width = "200"/ id="fotosDetalhes">
            </div>
            <div class="detalhes2">Titulo: <%= filme.titulo %></div>
            <div>Ano de Lançamento: <%= filme.ano %></div>
            <div>Genero: <%= filme.genero %></div>
            <div>Duração: <%= filme.duracao %></div>
            <div>Sinopse: <%= filme.sinopse %></div>
            <div>Nota: <%= filme.nota %></div>
            <div>Trailer: <%= filme.trailer %> </div>
        </ul>
    </section>
    <section>
        <button name="deletar"> DELETAR</button>
        <button name="editarx"> EDITAR</button>
    </section>
    <script src="/js/script.js"></script>
</body>
</html>