<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="icon" type="iconFilme/img" href="/img/iconFilme.png" />
    <title>Detalhe</title>
</head>

<header class="header">
    <div class="center">
      <div class="menu" id="menuId" > 
        <ul id="navegacao">
          <li><a  href="/"><strong">INICIO</strong></li>
          <li><a href="/filmes">FILMES</li>
          <li><a href="/series">SERIES</li>
          <li><a href="/livros">LIVROS</li>
          <li><a href="/carros">CARROS</li>
          <li><a href="/videos">VIDEOS</li>
        </ul>
      </div>
</header>

<body>
    
    <section class="wrapper">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
        <div id="title"></div>
    
<section id="">
        <ul>
            
            <div class="detalhes2">
                <a><img src="/img/trash.png" class="buttonEdit"></a>
                <a><img src="/img/edit.png" class="buttonEdit"></a>
                <a href="/filmes"><img src="/img/closed.png"  id="closed"></a>
                <img src= "<%= Filmes.imagem %>" alt= "<%= Filmes.nome %>" width = "200" class="fotosDetalhes">                  
                <div class="itemTitulo">Titulo: <%= Filmes.titulo %></div>
                <div class="itemInfo"><strong> Ano de Lançamento: </strong><%= Filmes.ano %></div>
                <div class="itemInfo"><strong> Genero: </strong> <%= Filmes.genero %></div>
                <div class="itemInfo"><strong> Duração: </strong><%= Filmes.duracao %></div>
                <div class="itemInfo"><strong> Sinopse: </strong><%= Filmes.sinopse %></div>
                <div class="itemInfo"><strong> Nota: </strong><%= Filmes.nota %></div>
                <div class="itemFrame"> <iframe src="<%= Filmes.trailer %>" ></iframe> </div>
                <button class="buttonYt"><a href = "<%= Filmes.trailer %>" target="_blank" class="yt">ASSISTA NO YOUTUBE</a></button>
            </div>
        </ul>
</section>
    <script src="/js/script.js"></script>
</body>
</html>