<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="icon" type="iconLivro/img" href="/img/iconLivro.png" />
    <title>Document</title>
</head>
<header class="header">
    <div class="center">
      <div class="menu" id="menuId" > 
        <ul id="navegacao">
          <li><a  href="/"><strong">INICIO</strong></li>
          <li><a href="/filmes">FILMES</li>
          <li><a href="/series">SERIES</li>
          <li><a href="/livros">LIVROS</li>
          <li><a href="/carros">CARROS</li>
          <li><a href="/videos">VIDEOS</li>
        </ul>
      </div>
</header>

<body>
    <section class="wrapper">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
        <div id="title"></div>
    
    <section>
        <ul>
            <div class="detalhes2">
                <a href="/livrodelete/<%=livro.ID%>"><img src="/img/trash.png" class="buttonEdit"></a>
                <a href="/livroedit/<%=livro.ID%>"><img src="/img/edit.png" class="buttonEdit"></a>
            <a href="/livros"><img src="/img/closed.png"  id="closed"></a>
            <img src= "<%= livro.imagem %>" alt= "<%= livro.nome %>" width = "200" class="fotosDetalhes">
            <div class="itemTitulo"><%= livro.titulo %></div>
            <div class="itemInfo"><strong> Idioma: </strong><%= livro.idioma %></div>
            <div class="itemInfo"><strong> Autor: </strong><%= livro.autor %></div>
            <div class="itemInfo"><strong> Genero: </strong><%= livro.genero %></div>
            <div class="itemInfo"><strong> Páginas: </strong><%= livro.paginas %></div>
            <div class="itemInfo"><strong> Sinopse: </strong><%= livro.sinopse %></div>
            <div class="itemInfo"><strong> Nota: </strong><%= livro.nota %> </div>
        </ul>
    </section>
    <script src="/js/script.js"></script>
</body>
</html>