<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="icon" type="iconVideo/img" href="/img/iconVideo.png" />
    <title>Detalhes dos videos</title>
</head>

<header class="header">
    <div class="center">
      <div class="menu" id="menuId" > 
        <ul id="navegacao">
          <li><a  href="/"><strong">INICIO</strong></li>
          <li><a href="/filmes">FILMES</li>
          <li><a href="/series">SERIES</li>
          <li><a href="/livros">LIVROS</li>
          <li><a href="/carros">CARROS</li>
          <li><a href="/videos">VIDEOS</li>
        </ul>
      </div>
</header>

<body>
    <section class="wrapper">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
        <div id="title"></div>
    
    <section>
        <ul>
            <div class="detalhes2">
                <a><img src="/img/trash.png" class="buttonEdit"></a>
                <a><img src="/img/edit.png" class="buttonEdit"></a>
                <a href="/videos"><img src="/img/closed.png"  id="closed"></a>
                <iframe src="<%= video.link %>" class="itemFrame"></iframe>            
                <div class="itemTitulo"><%= video.titulo %></div>
                <div class="itemInfo"><strong> Descrição do conteúdo: </strong><%= video.descricao %></div>
                <div class="itemInfo"><strong> Tipo de Conteúdo: </strong><%= video.tipo %></div>
                <div class="itemInfo"><strong> Nota: <%= video.nota %></div>
                <button class="buttonYt"><a href = "<%= video.link %>" target="_blank" class="yt">ASSISTA NO YOUTUBE</a></button>
            </div>            
        </ul>
    </section>
    <script src="/js/script.js"></script>
</body>
</html>