<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"/>
    <title>Document</title>
</head>
<body>
    <section class="wrapper">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
        <div id="title"></div>
    <a href="/series">VOLTAR</a>
    <section id="detalhesSeries">Detalhes da Série</section>
    <section>
        <ul>
            <div>
            <img src= "<%= serie.imagem %>" alt= "<%= serie.nome %>" width = "200"/>
            </div>
            <div>Titulo: <%= serie.titulo %></div>
            <div>Ano de Lançamento: <%= serie.ano %></div>
            <div>Genero: <%= serie.genero %></div>
            <div>Temporadas: <%= serie.temporadas %></div>
            <div>Episódios: <%= serie.episodios %></div>
            <div>Sinopse: <%= serie.sinopse %></div>
            <div>Nota: <%= serie.nota %></div>
            <div>
                <iframe src="<%= serie.trailer %>" ></iframe>
            </div>
            <button>
                <a href = "<%= serie.trailer %>" target="_blank">ASSISTA NO YOUTUBE</a></button>
        </ul>
    </section>
    <section>
        <button name="deletar"> DELETAR</button>
        <button name="editarx"> EDITAR</button>
    </section>
    <script src="/js/script.js"></script>
</body>
</html>